In [42]:
import sqlite3
import pandas as pd
from pandas import DataFrame

In [43]:
conn = sqlite3.connect('UFC_database')  
c = conn.cursor()

In [44]:
fighter_physical_stats_df = pd.read_csv('fighter_physical_stats_csv')
fighter_career_stats_df = pd.read_csv('fighter_career_stats_csv')
events_df = pd.read_csv('event_df_csv')
event_chart_stats = pd.read_csv('chart_stats_csv')

In [45]:
event_chart_stats

,Fighter_Name,Head,Body,Leg,Distance,Clinch,Ground,Event_Name
0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,UFC Fight Night: Stephens vs. Choi
1,Dooho Choi,54%,6%,38%,95%,4%,0%,UFC Fight Night: Stephens vs. Choi
2,Paige VanZant,53%,33%,12%,74%,3%,22%,UFC Fight Night: Stephens vs. Choi
3,Jessica-Rose Clark,65%,21%,12%,58%,12%,29%,UFC Fight Night: Stephens vs. Choi
4,Kamaru Usman,58%,18%,24%,16%,16%,68%,UFC Fight Night: Stephens vs. Choi
...,...,...,...,...,...,...,...,...
11707,TJ Brown,81%,18%,0%,28%,31%,40%,UFC Fight Night: Benavidez vs. Figueiredo
11708,Aalon Cruz,100%,0%,0%,100%,0%,0%,UFC Fight Night: Benavidez vs. Figueiredo
11709,Spike Carlyle,95%,0%,5%,10%,20%,70%,UFC Fight Night: Benavidez vs. Figueiredo
11710,Sean Brady,63%,6%,29%,68%,2%,29%,UFC Fight Night: Benavidez vs. Figueiredo
11711,Ismail Naurdiev,43%,27%,29%,89%,10%,0%,UFC Fight Night: Benavidez vs. Figueiredo

In [46]:
fighter_physical_stats_df.to_sql('Physical_Stats', conn, if_exists='append', index='False')
fighter_career_stats_df.to_sql('Career_Stats', conn, if_exists='append', index='False')
events_df.to_sql('Events', conn, if_exists='append', index='False')
event_chart_stats.to_sql('Fight_Chart_Stats',conn,  if_exists='append', index="False")

C:\Users\Desmond\Anaconda3\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [47]:
df = pd.DataFrame(c.execute('SELECT * from Physical_Stats').fetchall())
df.head()

   0                 1   2   3  4  5   6    7   8         9            10
0  0    Felipe Arantes  18  10  1  2  68  135  73  Orthodox  Feb 09, 1988
1  1    Marcus Aurelio  22  10  0  0  70  155  74  Orthodox  Aug 18, 1973
2  2   Aleksandra Albu   3   2  0  0  62  115  63  Orthodox  Jul 14, 1990
3  3  Makwan Amirkhani  16   4  0  0  70  145  72  Southpaw  Nov 08, 1988
4  4        Sam Adkins   7  20  2  0  75  225  --  Orthodox  Apr 26, 1965

In [48]:
df = pd.DataFrame(c.execute('SELECT * from Career_Stats').fetchall())
df.head()

   0                 1     2     3     4     5     6     7     8    9
0  0    Felipe Arantes  2.37  45.0  2.66  64.0  0.93  47.0  41.0  0.7
1  1    Marcus Aurelio  1.42  33.0  2.27  59.0  1.69  27.0  27.0  1.3
2  2   Aleksandra Albu  4.83  47.0  5.56  38.0  2.27  50.0  77.0  0.4
3  3  Makwan Amirkhani  1.55  46.0  2.73  50.0  3.45  36.0  57.0  1.6
4  4        Sam Adkins  0.00   0.0  0.00   0.0  0.00   0.0   0.0  0.0

In [49]:
df = pd.DataFrame(c.execute('SELECT * from Events').fetchall())
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0,49,0,0,0,Jeremy Stephens,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
1,1,44,0,0,0,Dooho Choi,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
2,2,55,2,1,4,Jessica-Rose Clark,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
3,3,54,0,0,0,Paige VanZant,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
4,4,50,8,0,7,Kamaru Usman,Welterweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"

In [50]:
df = pd.DataFrame(c.execute('SELECT * from Fight_Chart_Stats').fetchall())
df.head()

,0,1,2,3,4,5,6,7,8
0,0,UFC Fight Night: Stephens vs. Choi,"['Jeremy Stephens', 'Dooho Choi']","['65%', '54%']","['12%', '6%']","['22%', '38%']","['85%', '95%']","['6%', '4%']","['8%', '0%']"
1,1,UFC Fight Night: Stephens vs. Choi,"['Paige VanZant', 'Jessica-Rose Clark']","['53%', '65%']","['33%', '21%']","['12%', '12%']","['74%', '58%']","['3%', '12%']","['22%', '29%']"
2,2,UFC Fight Night: Stephens vs. Choi,"['Kamaru Usman', 'Emil Meek']","['58%', '66%']","['18%', '23%']","['24%', '10%']","['16%', '56%']","['16%', '13%']","['68%', '30%']"
3,3,UFC Fight Night: Stephens vs. Choi,"['Darren Elkins', 'Michael Johnson']","['72%', '64%']","['27%', '20%']","['0%', '15%']","['94%', '100%']","['0%', '0%']","['5%', '0%']"
4,4,UFC Fight Night: Stephens vs. Choi,"['James Krause', 'Alex White']","['85%', '75%']","['8%', '25%']","['5%', '0%']","['51%', '51%']","['2%', '21%']","['45%', '26%']"